<form method="POST">
    {{ form.hidden_tag() }}
    <div class = "form-group">
        <fieldset class = "name-field">
            {{ form.name.label }}
            {{ form.name(class = 'form-control', placeholder = 'Name')}}
        </fieldset>
        <fieldset class = "description-field">
            {{ form.description.label }}
            {{ form.description(class = 'form-control', placeholder = 'description')}}
        </fieldset>
        <fieldset class = "appeared-field">
            {{ form.appeared.label }}
            {{ form.appeared(class = 'form-control', placeholder = 'comics appeared in')}}
        </fieldset>
        <fieldset class = "superpowers">
            {{ form.superpower.label }}
            {{ form.superpower(class = 'form-control', placeholder = 'super powers')}}
        </fieldset>
        {{ form.submit_button(class = 'btn btn-primary btn-block mt-2') }}
    </div>
</form> 