/* Nav Styles */

.ct-nav {
    display: flex;
    justify-content: space-between;
    background: yellow;
}

#horizontal-list {
    min-width: 750px;
    list-style: none;
    padding-top: 10px; 
}

#horizontal-list li, #horizontal-list a {
    display: inline;
    text-decoration: none;
    padding: .5vw;
    color: black; 
}

#horizontal-list a:nth-last-child(1) {
    border: 2px solid blue;
    border-radius: 10px;
    margin-right: .2vw; 
}

/* End Nav Styles */

/* Hero Section Styles */

#header-text {
    padding: 2vw;
}

body {
    background-image:linear-gradient(to right bottom, rgba(30, 115,172, 0.7), rgba(142, 57, 153, 0.6)), url("../images/marvel-superheroes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* End of Hero Section */

h2 {
    color: white;
}

h5 {
    color: white;
}

p {
    color: white;
}

h4 {
    color: white;
}

/* Middle Section Styles */

#middle-text{
    text-align: center;
    padding: 13vh; 
}

#middle-text h2{
    padding: 1.5vw; 
}

/* End of Middle Section */

/* Feature Section Styles */
#api-image {
    margin-bottom: 10vh;
    width: 50%; 
    max-width: 100%;
    margin-left: 3vw;
}

#graphql-image {
    margin-bottom: 10vh;
    width: 50%; 
    max-width: 100%;
    margin-left: 3vw;
}

#database-image{
    margin-bottom: 10vh;
    width: 50%; 
    max-width: 100%;
    margin-left: 3vw;
}

#features-section{
    margin: 8vw; 
}

/* End of Features Section */

/* Community Section Styles */

#comic-image{
    width: 50%;
    max-width: 75%;
    margin-left: 3vw;
    margin-bottom: 10vh; 
}

/* End of Community Section */

/* Footer Section Styles */

.footer-text-flex{
    display: flex;
    flex-direction: column; 
    margin-top: 3vw; 
}

#footer-logo{
    width: 100%;
    max-width: 100%;
    margin-top: 3vw; 
}

#footer{
    background: yellow;
    border-top: 3px solid black;
    margin-top: 20vh; 
}

#footer p{
    color: black;
}

#footer h4{
    color: red;
}

/* End Footer Section */

/* Profile Styles */
.hero-section{
    height: 95vh;
    background-image:linear-gradient(to right bottom, rgba(30, 115,172, 0.7), rgba(142, 57, 153, 0.6)), url(../images/comic_hero.jpg);
    background-size: cover;
    background-position: 35% 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path:polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;
}

.header-text{
    display:flex;
    justify-content: center;
    padding-top: 20%;
    left: 20rem;
    top: 10rem;
    color: white;
}